//
//  Config.xcconfig
//  pushtostart
//
//  Created by dominick bartenope on 4/23/25.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
API_KEY = os_v2_app_y6dhdstnijgvxggb6b3v5foq6qxw4tnvpb2esr55sbdxeeitsskbi5n7ow4qiy7sddy566yectryqanahojjmd4hrnmztqtnucwakba
