<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>MixpanelToken</key>
    <string>d810d40cdbc7dead2ff901838c696ccb</string>
    <!-- Add other configuration keys as needed -->
</dict>
</plist>
